@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }

  header {
    .header-content {
      display: none;
    }
    .menu {
      display: flex;
      width: 40px;
      height: 40px;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 0 12px;
    margin-top: 139px;

    h1 {
      display: none;
    }

    h2 {
      display: block;
      width: 63%;
      margin-left: 50px;
    }

    button {
      display: block;
    }

    img {
      max-width: 580px;
    }
  }

  .tech-stack {
    margin-top: 130px;

    p {
      text-align: center;
    }
  }
  footer {
    .contact {
      display: none;
    }
    .contact-btn {
      display: block;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
  .bottom-container .disable {
    display: none;
  }
  // about

  .about-content h2 {
    top: 43px;
    font-size: 50px;
    left: 40px;
  }
  .text-wrapper {
    @include dFlex(flex-start, center, 0, 20px);
  }
  img {
    padding-top: 60px;
  }
}

@media (max-width: 500px) {
  .hero {
    img {
      width: 100%;
    }
    h2 {
      width: 100%;
      margin-left: 20px;
    }
  }
  // about
  .about-content img {
    width: 300px;
    height: 300px;
  }
}
