header{
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
    }
   
    .logo{
      width: 100px;
      height: 50px;
    }
    ul, .header-content{
      display: flex;
      gap: 54px;
      align-items: center;
    }
     ul{
      gap: 20px;
    }
    li {
      color: $primaryColor
    }
    
    .social-icons ul li:hover{
      transform: scale(1.2);
      transition: transform 0.3s ease;
    }
    .menu{
      display: none;
    }
  }
  